// Sans serif
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700,900');
// Serif
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lusitana:400,700');


// Core variables and mixins
@import "import/variables";
@import "import/mixins";

// Reset
@import "import/normalize";
@import "import/print";

// Core CSS
@import "import/scaffolding";
@import "import/type";
@import "import/grid";
@import "import/buttons";
@import "import/icons";
@import "import/controls";
@import "import/background";

// Page
@import "import/page";





//登入註冊
body {
  padding: 0;
}

.lr-gi {
  display: flex;
  min-height: 100vh;

  &__img {
    background-image: url(../../assets/images/BG_lg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 46%;
  }

  &__content {
    background-color: #EFEEEA;
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: center;

    .lr-gi-box {
      width: 310px;
      text-align: center;
      // margin-top: 25%;

      &__title {
        margin-bottom: 24px;

        .logo-mschool {
          margin-bottom: 24px;
        }

        h2 {
          margin-bottom: 16px;
          font-size: 28px;
          color: $brand-primary;
        }

        p {
          font-size: 14px;
          color: #444;
          // word-break: break-all;
        }
      }

      &__data {
        .mf-group {
          margin-bottom: 16px;
          position: relative;

          &.tw {
            display: flex;
            justify-content: space-between;

            .xs {
              width: 15%;
              height: 50px;
              text-align: center;
            }
          }

          .input-text {
            width: 100%;
            padding: 4px 12px;
          }

          .icon-password {
            background-image: url(../../assets/images/icon_eye-close.svg);
            background-color: #fff;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 9px;
            right: 8px;
            z-index: 9;
            cursor: pointer;

            &--show {
              background-image: url(../../assets/images/icon_eye.svg);
            }
          }

          .in-fo {
            font-size: 14px;
            color: #AAAAA0;
            display: block;
            margin-top: 8px;
            text-align: left;
          }
        }

        .data-footer {
          .btns-box {
            margin-bottom: 24px;

            &.tw {
              display: flex;
              justify-content: space-between;

              .btn {
                width: 48%;
              }
            }

            .btn {
              width: 100%;
            }
          }

          .f-info {
            a {
              font-size: 14px;
              color: $brand-primary;
              text-decoration: underline;
            }
          }
        }
      }

      &__footer {
        margin-top: 24px;

        .f-box {
          background-color: #E2E1DD;
          border-radius: 4px;
          font-size: 15px;
          color: #444;
          padding: 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            font-size: 14px;
            color: $brand-primary;
            text-decoration: underline;
          }
        }

        .f-remind {
          margin-top: 24px;
          font-size: 14px;
          line-height: 1.75;
          color: #444;
          text-align: left;
          
          a {
            font-size: 14px;
            color: $brand-primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//footer
.main-footer {
  background-color: #fff;
  width: 100%;
  padding: $spacing-tiny 0;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
      font-size: $font-size-14;
      color: $gray-light;
      padding: 0 $spacing-tiny;
      
      a {
        color: $gray-light;

        &:hover, &:active {
          color: $brand-primary;
        }
      }
    }
  }

  &__nav {
    justify-content: flex-start;

    li:first-child {
      // padding-left: 0;
    }
  }

  &__copyright {
    justify-content: flex-end;

    li:last-child {
      // padding-right: 0;
    }
  }
}


// RWD
@media (max-width: $screen-md-min) /*970*/ {
  .main-footer {
    text-align: center;

    &__nav, &__copyright {
      float: inherit;
      display: inline-block;
      line-height: 1;
    }
  }
}

@media (max-width: $screen-sm-min) /*769*/ {
  .lr-gi {
    padding: 32px 0;
    
    &__img {
      display: none;
    }

    &__content {
      width: 100%;
      
      .lr-gi-box {
        width: 100%;
        padding: 0 32px;
      }
    }
  }

  .main-footer {
    padding: 20px 0 50px 0;
    z-index: 9999;
    position: relative;

    .row {
      padding: 0 $spacing-base;
    }

    ul {
      text-align: center;

      li {
        float: inherit;
        display: inline-block;
        margin-bottom: $spacing-tiny;
      }
    }
    
    &__copyright {
      margin-top: $spacing-tiny;
    }
  }
}