// Sans serif
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700,900');
// Serif
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lusitana:400,700');


// Core variables and mixins
@import "import/variables";
@import "import/mixins";

// Reset
@import "import/normalize";
@import "import/print";

// Core CSS
@import "import/scaffolding";
@import "import/type";
@import "import/grid";
@import "import/buttons";
@import "import/icons";
@import "import/controls";
@import "import/background";

// header + footer
@import "import/hf";

// Page
@import "import/page";
@import "import/index";
@import "import/course";
@import "import/magazine";
@import "import/search";
@import "import/topic";
@import "import/article";
@import "import/member";
@import "import/landing";
@import "import/video";

