//
// Background
// --------------------------------------------------

.bg-pink {
  background-color: $brand-primary;
}

.bg-gray {
  background-color: $gray-dark;
}

.bg-gold {
  background-color: $brand-secondary-400;
}

.bg-blue {
  background-color: $brand-project;
}