//
// Index
// --------------------------------------------------


//highlight
.index-search {
  padding: 90px 0;

  &__box {
    background-color: #fff;
    width: 650px;
    box-shadow: 0 3px 6px rgba(0,0,0,.15);
    border-radius: 50px;
    margin: auto;
    padding: $block-spacing-tiny $spacing-base;
    text-align: left;
    transition: $transition-base;

    &::before {
      float: left;
      font-size: 34px;
      color: $brand-primary;
      padding-right: $block-spacing-tiny;
      margin-right: $block-spacing-tiny;
      border-right: 1px solid $bg-defualt;
    }

    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,.35);
    }

    .input-text {
      width: calc(100% - 24px - 34px);
      border: 0;
    }

    .input-submit {
      float: right;
      background-image: url(../../assets/images/icons/system/search2.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position-x: right;
      width: 45px;
      height: 35px;
      border: 0;
      padding: 0;
      margin-left: 10px;
      border-left: 1px solid #EFEEEA;
      position: relative;
      top: 0;

      &:hover {
        background-image: url(../../assets/images/icons/system/search2-active.svg);
      }
    }
  }

  &__hotwords {
    width: 100%;
    margin-top: $spacing-small;

    ul {
      li {
        display: inline-block;
        margin-right: $spacing-small;
        color: $gray-light;
        font-weight: $font-weight-slim;

        a {
          background-color: #fff;
          color: $gray-light;
          border: 1px solid $brand-secondary-400;
          border-radius: 50px;
          padding: 5px 10px;

          &:hover, &active {
            background-color: $brand-secondary;;
            color: #fff;
          }
        }
      }
    }
  }
}

.index-new {
}

.index-ad {
  text-align: center;
  margin-top: $block-spacing-tiny;
  margin-bottom: $block-spacing-xlarge;
}

.index-assign {
  .section-title {
    span {
      margin-left: 130px;
    }
  }
}

.index-more {
  background-color: #F7F5F0;
  padding: 60px 0;
  
  .index-more__box {
    float: left;
    width: calc((100% / 3) - 24px);
    margin: 0 18px;
    
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .card {
      border-bottom: 1px dotted #FC5A5A;
      margin-bottom: 16px;
      padding-bottom: 8px;

      &__data {
        span {
          color: #B8A174;
          font-size: 18px;
          font-weight: 300;

          &:hover {
            color: #FC5A5A;
          }
        }
      }

      a:hover {
        .card__data {
          span {
            color: #FC5A5A;
          }
        }
      }
    }
  }
}

.index-bottom {
  margin-top: 60px;

  .index-quickread {
    float: left;
    width: calc((100% / 3) * 2);
    margin-right: 36px;

    .index-quickread-con {
      background-color: #fff;
      border-radius: 8px;
      padding: 24px 32px;

      .index-quickread__hi {
        background-color: #EFEEEA;
        padding: 14px 16px;

        a {
          display: flex;
          overflow: hidden;

          &:hover {
            img {
              // transform: scale(1.1);
            }
          }

          .hi-img {
            height: 200px;

            img {
              height: 100%;
              transition: $transition-base;
            }
          }

          .hi-data {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 40px 0 80px;

            h3 {
              font-size: 28px;
              font-weight: 700;
              line-height: 1.4;
              position: relative;

              &::before {
                content: '';
                background-image: url(../../assets/images/icon_faq-item.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 26px;
                position: absolute;
                top: 7px;
                left: -28px;
              }
            }
          }
        }
      }

      .index-quickread__list {
        display: flex;
        // justify-content: space-between;
        justify-content: start;

        .list-item {
          margin: 10px 20px 0 0;
          width: calc(95% / 3);

          &:last-child {
            margin-right: 0;
          }

          a {
            position: relative;
            display: block;
            overflow: hidden;

            &:hover {
              img {
                transform: scale(1.1);
              }
            }

            &::before {
              content: '';
              background-image: url(../../assets/images/icon_index-video.svg);
              width: 48px;
              height: 48px;
              position: absolute;
              left: calc(50% - 24px);
              top: calc(50% - 24px);
              z-index: 9;
            }

            img {
              width: 100%;
              transition: $transition-base;
            }
          }
        }
      }
    }
  }

  .index-fiveSec {
    float: left;
    width: calc((100% / 3) - 36px);


    .fiveSec-data {
      &__title {
        background-color: #fff;
        border-radius: 8px;
        padding: 30px 24px;
        
        h3 {
          font-size: 28px;
          font-weight: 700;
          line-height: 1.4;
        }
      }

      &__list {
        ul {
          counter-reset: num;

          li {
            font-size: 18px;
            margin: 16px 0 20px;
            display: flex;

            &::before {
              counter-increment: num; 
              content: counter(num) '. ';
              font-family: $font-family-serif;
              font-size: 36px;
              color: #B8A174;
              line-height: 1;
              margin-right: 8px;
            }

            a {
              padding-bottom: 4px;
              border-bottom: 1px solid #fff;
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}


// RWD
@media (max-width: $screen-lg-min) /*1200*/ {
  .index-ad {
    img {
      width: 100%;
    }
  }
}

@media (max-width: $screen-md-min) /*970*/ {
}

@media (max-width: $screen-sm-min) /*769*/ {
  .index-search {
    padding: 60px 0;

    .row {
      padding: 0 $spacing-base;
    }

    &__box {
      width: 100%;

      &::before {
        font-size: 24px;
        margin-top: 6px;
      }
    }

    &__hotwords {
      ul {
        text-align: left;

        li {
          margin-bottom: $spacing-tiny;
        }
      }
    }
  }

  .index-new {
    padding: 0 $spacing-base;

    .lists-article {
      .card {
        margin-bottom: 20px;

        &__img {
          float: left;
          width: 25%;
          margin-bottom: 0;
        }

        &__data {
          float: left;
          width: 75%;
          padding-left: $spacing-small;

          h4 {
            font-size: $font-size-18;
            font-weight: $font-weight-medium;
          }
        }
      }
    }
  }

  .index-ad {
    padding: 0 $spacing-base;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .index-course {
    padding: 0 $spacing-base;
  }

  .index-assign {
    padding: 0 24px;

    .section-title {
      span {
        margin: -2px 0 0 130px;
        display: block;
        line-height: 1.2;
      }
    }
  }

  .index-more {
    padding: 0 24px;

    .index-more__box {
      float: inherit;
      width: 100%;
      margin: 0;

      .section-title {
        margin-top: 40px;
      }
    }
  }

  .index-bottom {
    padding: 0 24px;

    .index-quickread {
      float: inherit;
      width: 100%;

      .index-quickread-con {
        padding: 12px 16px;
        margin-bottom: 40px;

        .index-quickread__hi {
          a {
            flex-wrap: wrap;

            .hi-img {
              height: auto;
              width: 100%;

              img {
                height: auto;
                width: 100%;
              }
            }

            .hi-data {
              padding: 0 8px 0 32px;

              h3 {
                font-size: 21px;
              }
            }
          }
        }

        .index-quickread__list .list-item a::before {
          background-size: contain;
          width: 24px;
          height: 24px;
          left: calc(50% - 12px);
          top: calc(50% - 12px);
        }
      }
    }

    .index-fiveSec {
      float: inherit;
      width: 100%;

      .fiveSec-data__title {
        padding: 16px 16px;

        h3 {
          font-size: 21px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
}