//
// Page
// --------------------------------------------------



#highlight {
  width: 100%;
  text-align: center;
}

.btn-box {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: $block-spacing-xlarge;

  .loading {
    text-align: center;
    width: 70%;
    max-width: 450px;

    i {
      color: $brand-primary;
      animation: loading 2s alternate infinite;
    }

    @keyframes loading {
      from {
        transform: rotate(0deg);
        opacity: .8;
      }
      to {
        transform: rotate(360deg);
        opacity: .2;
      }
    }
  }
}

// title
.section-title {
  width: 100%;
  height: 42px;
  border-bottom: 5px solid #fff;
  margin-bottom: $block-spacing-large;
  overflow: hidden;

  h2 {
    float: left;
    height: 42px;
    border-bottom: 5px solid $brand-primary;
    position: absolute;
    padding-right: $spacing-base;
  }
}

.section-tool {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: $block-spacing-large;
  position: relative;
  z-index: 9;

  &__search, &__filter {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 3px 5px rgba(0,0,0,.15);
    text-align: left;
    padding: $spacing-tiny $spacing-base;
    transition: $transition-base;
    
    &:hover {
      box-shadow: 0 3px 5px rgba(0,0,0,.35);
    }

    &.member {
      background-color: transparent;
      box-shadow: none;
      border-radius: inherit;
      padding: 0;
      width: 105px;
      margin: 0;
      position: absolute;
      top: 80px;
      right: 50px;

      .filter__select {
        font-size: $font-size-14;
      }
      
      i.icon-arrow-down {
        width: 14px;
        height: 14px;
        right: 0;

          &::before {
          font-size: $font-size-14;
          position: relative;
          top: -4px;
          color: #888;
        }
      }
    }
  }

  &__search {
    width: 380px;

    .input-text {
      width: calc(100% - 33px);
      border: 0;
    }

    .input-submit {
      float: right;
      background-image: url(../../assets/images/icons/system/search.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      width: 33px;
      height: 33px;
      border: 0;

      &:hover ,&:active {
        background-image: url(../../assets/images/icons/system/active/search.svg);
      }
    }
  }

  &__filter {
    width: 190px;
    margin-left: $block-spacing-large;
    position: relative;
    cursor: pointer;

    .filter__select {
      background: transparent;
      border: none;
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
      color: $gray-lighter;
      font-size: 1.125rem;
      width: 100%;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
    
    i.icon-arrow-down {
      width: 33px;
      height: 33px;
      text-align: right;
      position: absolute;
      top: 7px;
      right: 24px;

      &::before {
        position: relative;
        top: 6px;
        color: $gray-light;
      }
    }
  }

  &__learners {
    border-bottom: 1px solid $bg-defualt;
    padding-bottom: 8px;
    overflow: hidden;
    position: relative;

    .learners-search {
      float: left;
      background-color: $bg-defualt;
      border-radius: 2px;
      padding: 8px 16px;
      width: 50%;

      .input-text {
        background-color: transparent;
        border: 0;
        font-size: $font-size-base;
        width: calc(100% - 66px);
      }

      .input-submit {
        background-color: transparent;
        background-image: url(../../assets/images/icons/system/search.svg);
        background-repeat: no-repeat;
        background-position: left center;
        border: 0;
        color: $gray-dark;
        padding: 0 0 0 30px;

        &:hover {
          color: $brand-primary;
        }
      }
    }

    .learners-export {
      float: right;
      font-size: $font-size-base;
      position: relative;
      top: 16px;

      a {
        color: $gray-dark;
        text-decoration: underline;

        &:hover {
          color: $brand-primary;
        }

        img {
          position: relative;
          top: 3px;
          margin-right: 4px;
        }
      }
    }

    .learners-date {
      display: inline-block;
      width: auto;
      overflow: hidden;
      font-size: $font-size-base;
      color: $gray-dark;
      padding: 16px 0;

      label {
        display: inline-block;
        width: auto;
        margin-right: 8px;
      }

      .hasDatepicker {
        background-image: url(../../assets/images/icon_time.svg);
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 20px;
        margin-right: 16px;
        border: 1px solid #EFEEEA;
      }
    }
  }

  &__info {
    .tags {
      font-size: $font-size-base;
      color: $gray-middle;
    }
  }
}

.section-filter {
  color: $gray-lighter;
  font-size: $font-size-14;
  text-align: right;
  margin: $block-spacing-small 0 $block-spacing-large;

  a {
    color: $gray-lighter;
    text-decoration: underline;
    
    &:hover, &:active {
      color: $brand-primary;
    }

    &.active {
      color: $gray-dark;
    }
  }
}

// card
.card {
  margin-bottom: $block-spacing-large + 10px;
  overflow: hidden;
  position: relative;

  a:hover {
    .card__img {
      img {
        transform: scale(1.08);
      }
    }
  }

  &__title {
    width: 100%;
    overflow: hidden;
    margin-bottom: $block-spacing-tiny;

    h3 {
      float: left;

      i {
        margin-right: $spacing-tiny;
        position: relative;
        top: 2px;
      }
    }

    .more {
      float: right;
      line-height: 1;
      position: relative;
      // top: 16px;
      top: 10px;

      .icon-arrow-right::before {
        font-size: $font-size-14;
      }
    }
  }

  &__img {
    background-color: $brand-primary;
    display: block;
    margin-bottom: $spacing-small;
    overflow: hidden;


    img {
      width: 100%;
      display: block;
      transform: scale(1);
      transition: $transition-slow;
    }
  }

  &__data {
    h4 {
      line-height: 1.5;
      // height: 60px;
      overflow: hidden;
    }

    p {
      font-weight: $font-weight-slim;
      margin-top: $spacing-tiny;
    }

    .info--course {
      font-size: $font-size-14;
      font-weight: $font-weight-normal;
      color: $gray-light;
      width: 100%;
      text-align: right;
      padding-bottom: $spacing-tiny;
      margin-bottom: $spacing-small;
      border-bottom: 1px dotted $brand-primary;
    }
  }

  &__more {
    width: 100%;
    overflow: hidden;
    margin-top: $spacing-base;

    ul {
      li {
        // background-image: url(/assets/images/BG_cards-li.svg);
        // background-repeat: no-repeat;
        // background-position: left center;
        // background-size: 10px;
        // padding-left: $spacing-small;
        padding-bottom: 0;
        margin-bottom: $spacing-small;
        border-bottom: 1px dotted $brand-primary;

        h4 {
          width: 100%;
          height: 24px;
          overflow: hidden;
          font-size: $font-size-21;
          font-weight: $font-weight-medium;
        }

        .info {
          font-size: $font-size-14;
          font-weight: $font-weight-normal;
          color: $gray-light;
          width: 100%;
          text-align: right;
          display: inline-block;
        }
      }
    }
  }
}

// Pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    li {
      float: left;
      background-color: #fff;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-weight: $font-weight-medium;
      font-size: $font-size-base;
      text-align: center;
      border-radius: 50px;
      margin: 0 4px;
      border: 1px solid $bg-defualt;

      &.more {
        background-color: transparent;
        border: 0;

        &:hover, &active {
          background-color: transparent;
          color: $gray-dark;
          border-color: #fff;
        }
      }

      &.active, &:hover, &:active {
        background-color: $brand-primary;
        border: 1px solid $brand-primary;
        color: #fff;

        a {
          color: #fff;
        }
      }

      &.disable {
        i {
          color: $gray-lighter;
        }

        &:hover, &active {
          background-color: #fff;
          border: 1px solid $bg-defualt;
        }
      }

      i {
        position: relative;
        top: 4px;
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}

// lists
.lists-article {
  [class^="col-md-"], [class*="col-md-"] {
    min-height: 330px;
  }
}

.lists-course {
  [class^="col-md-"], [class*="col-md-"] {
    min-height: 375px;
    // min-height: 570px;
  }
}

// Defualt-info
.defualt-info {
  width: 100%;
  overflow: hidden;
  text-align: center;

  &__img {
    margin-bottom: $spacing-small;
  }

  &__data {
    font-size: $font-size-28;
    color: $gray-light;
    line-height: 1.6;

    strong {
      color: $brand-primary;
      font-weight: $font-weight-medium;
      padding: 0 5px;
    }

    a {
      color: $brand-primary;
      padding: 0 5px;

      &:hover, &:active {
        color: $gray-darker;
      }
    }

    span {
      font-size: $font-size-base;
      // line-height: 1.5;
      display: inline-block;
    }
  }
}

//vplan-box
.vplan-box {
  margin-top: 60px;

  &.buy {
    margin-bottom: 60px;

    h4.title {
      margin-bottom: 30px;
    }
  
    .box {
      background-color: $bg-defualt;
      border-radius: 8px;
      padding: 16px 60px;

      .vplan-item {
        box-shadow: 0 0 0;
        width: 100%;

        &:first-child {
          margin: 0;
        }

        a {
          grid-template-columns: 170px 1fr;
        }

        &__data {
          padding: 8px 16px;

          h3 {
            font-size: $font-size-base;
            overflow: hidden;
            height: 68px;
          }

          p {
            font-size: $font-size-base;
          }
        }
      }

      .owl-dots {
        display: none;
      }

      .owl-prev, .owl-next {
        top: 35%;
      }
    }
  }

  .box {
    display: flex;

    .vplan-item {
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0,0,0,.16);
      border-radius: 8px;
      overflow: hidden;
      width: 50%;
      
      a {
        display: grid;
        grid-template-columns: 260px 1fr;
      }

      &:first-child {
        margin-right: 32px;
      }

      &__img {
        width: 100%;
        -ms-grid-column: 1;

        img {
          width: 100%;
          display: block;
        }
      }

      &__data {
        -ms-grid-column: 2;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 16px;
        
        h3 {
          font-size: $font-size-20;
          line-height: 1.5;
        }

        p {
          color: $gray-lighter;
        }

        .btn-box {
          margin: 0;
          text-align: right;
        }
      }
    }
  }
}


// 404
body.info-404 {
  main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px - 40px);
  }

  footer.main-footer {
    margin-top: 0;
  }
}





// RWD
@media (max-width: $screen-lg-min) /*1200*/ {
}

@media (max-width: $screen-md-min) /*970*/ {
  .vplan-box.buy .box .vplan-item a {
    display: block;
  }
}

@media (max-width: $screen-sm-min) /*769*/ {
  .section-title {
    margin-bottom: $block-spacing-small;
    border-bottom: 3px solid #fff;
    height: 35px;
    
    h2 {
      font-size: $font-size-24;
      height: 35px;
      border-bottom: 3px solid #FC5A5A;
    }
  }

  .section-filter {
    text-align: left;
    margin: 10px 0 20px;
  }

  .section-tool__learners {
    overflow: initial;
    
    .learners-export {
      position: absolute;
      top: -57px;
      right: 0;
    }
    
    .learners-search {
      width: 100%;
      margin-bottom: 24px;
    }

    .learners-date {
      padding: 0 0 8px 0;

      label {
        margin-bottom: 8px;
      }

      .hasDatepicker {
        margin-bottom: 8px;
      }
    }
  }

  .card {
    margin-bottom: $block-spacing-base;

    &__title {
      h3 {
        font-size: $font-size-21;

        i {
          width: 22px;
          height: 22px;
        }
      }

      .more {
        // top: 10px;
        top: 5px;
        font-size: 14px;
      }
    }
  
    &__data {
      h4 {
        line-height: 1.5;
        height: auto;
        font-size: $font-size-18;
      }
    }

    &__img {
      margin-bottom: 8px;
    }
  }

  .lists-article, .lists-course {
    [class^="col-md-"], [class*="col-md-"] {
      min-height: auto;
    }
  }

  .pagination {
    ul {
      li {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0 2px;
      }
    }
  }
  
  .defualt-info {
    &__img {
      img {
        width: 70px;
      }
    }

    &__data {
      font-size: $font-size-22;
    }
  }

  .vplan-box {
    .section-title {
      height: 65px;
      border-color: $brand-primary;

      h2 {
        height: 65px;
        position: relative;
      }
    }

    .box {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;

      .vplan-item {
        width: calc(50% - 20px);
        margin: 0 10px;

        a {
          flex-wrap: wrap;
          display: block;
        }

        &:first-child {
          margin: 0 10px;
        }
      }
    }
  }

  // 404
  body.info-404 {
    main {
      min-height: calc(100vh - 56px - 175px);

      img {
        width: 50%;
      }
    }
  }
}

@media (max-width: 320px) {
}