//
// Topic
// --------------------------------------------------



.topic-highlight {
  overflow: hidden;

  .container {
    .row {
      padding: 0 70px;
    }
  }

  .container.bg {
    background-color: $bg-defualt;
    box-shadow: 0 0 6px rgba(0,0,0,.15);
    min-height: $block-spacing-xlarge;
  }

  &__data {
    text-align: left;
    padding: $block-spacing-large 0 $block-spacing-base;
    position: relative;

    .title {
      color: $gray-middle;
      font-size: $font-size-base;
      position: relative;

      a {
        color: $gray-middle;        
      }

      &::after {
        background-color: $brand-primary;
        content: '';
        width: 30px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    h1 {
      width: calc(100% - 240px);
      line-height: 1.3;
      margin: $spacing-small 0;
    }

    p {
      width: calc(100% - 240px);
      font-size: $font-size-base;
      font-weight: $font-weight-slim;
      color: $gray-middle;
    }


    &::after {
      content: '';
      width: 160px;
      height: 160px;
      display: inline-block;
      position: absolute;
      right: 0;
      top: $block-spacing-xlarge;
    }

    &.course-1 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-1.svg);
      }
    }
    &.course-2 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-2.svg);
      }
    }
    &.course-3 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-3.svg);
      }
    }
    &.course-4 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-4.svg);
      }
    }
    &.course-5 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-5.svg);
      }
    }
    &.course-6 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-6.svg);
      }
    }
    &.course-7 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-7.svg);
      }
    }
    &.course-8 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-8.svg);
      }
    }
    &.course-9 {
      &::after {
        background-image: url(../../assets/images/icons/course/icon-course-9.svg);
      }
    }
  }
}

.topic-lists {
  .container {
    .row {
      padding: 0 70px;
    }
  }

  .lists-topic {
    display: flex;
    flex-wrap: wrap;

    .card-number {
      flex: 0 0 calc(50% - 28px);
      padding-bottom: $block-spacing-base;
      border-bottom: 1px dashed $brand-secondary;
      margin-bottom: $block-spacing-xlarge;
      
      &:nth-child(odd) {
        margin-right: 28px;
      }

      &:nth-child(even) {
        margin-left: 28px;
      }

      &__no {
        float: left;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-style: italic;
        font-size: 9.375rem;
        line-height: 1;
        color: $brand-secondary-400;
        width: 150px;
        display: inline-block;
      }

      &__data {
        float: left;
        width: calc(100% - 150px);

        h3 {
          font-family: 'Noto Serif TC';
          font-weight: $font-weight-normal;
          line-height: 1.5;
          margin-bottom: $spacing-tiny;
          text-align: justify;
          text-justify: inter-ideograph;
        }
        
        p {
          font-size: $font-size-base;
          font-weight: $font-weight-slim;
          color: $gray-middle;
          line-height: 1.65;
        }
      }
    }
  }
}


// RWD
@media (max-width: $screen-lg-min) /*1200*/ {
}

@media (max-width: $screen-md-min) /*970*/ {
}

@media (max-width: $screen-sm-min) /*769*/ {
  .topic-highlight {
    .container {
      .row {
        padding: 0 $spacing-base;
      }
    }

    &__data {
      &::after {
        display: none;
      }

      h1 {
        width: 100%;
      }

      p {
        width: 100%;
        line-height: 1.6;
      }
    }
  }
  
  .topic-lists {
    .container {
      .row {
        padding: 0 $spacing-base;
      }
    }

    .lists-topic {
      .card-number {
        flex: 0 0 100%;

        &:nth-child(odd) {
          margin-right: 0;
        }

        &:nth-child(even) {
          margin-left: 0;
        }

        &__no {
          font-size: 6.375rem;
          width: 100px;
        }

        &__data {
          width: calc(100% - 100px);
        }
      }
    }
  }
}

@media (max-width: 320px) {
}