//
// Typography
// --------------------------------------------------

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin: 0;
}

h1, .h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-medium;
}
h2, .h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-medium;
}
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

// Inline
p {
  margin: 0;
}

// Alignment
.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }
.text-justify        { text-align: justify !important; } // 齊尾
.text-nowrap         { white-space: nowrap !important; } // 不換行

// Lists
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  ul,
  ol {
    margin-bottom: 0;
  }
}